$color-white: #ffffff;
$color-black: #000000;
$color-bg: rgba(213,207,191,255);
$color-yellow: rgb(231, 231, 0);
$color-gray: rgb(128, 128, 128);
$color-f-b: rgb(44, 40, 40);
$color-a: rgb(50, 101, 255);

