@import "utilities/mixins";

.l-container {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 6850px;
    display: flex;
    flex-direction: column;

    .l-content {
        .content-top {
            width: 100vw;
            background: $color-bg;
        }

        .content-middle {
            width: 100vw;
            background: $color-white;
        }

        .content-bottom {
            width: 100vw;
        }
    }

    .l-footer {
        width: 100vw;
        height: auto;
    }
}

@media only screen and (max-width: 600px){
    .l-container {
        width: 100vw;
        height: 7250px;

        .content-bottom {
            height: 1400px;
        }
    }
}