@import "utilities/mixins";

*{
margin: 0;
padding: 0;
}

a{
text-decoration: none;
}
.navbar{
display: flex;
justify-content: space-between;
width: 100vw;
padding-top: 2%;
padding-bottom: 2%;
background-color: #000000;
font-size: 20px;
}
/* Toggle button */

.navbar_toggle {
margin-left: 5%;
font-size: 30px;
color: #ffffff;
background: transparent;
border-color: transparent;
transition: all 0.3s linear;
cursor: pointer;
display: none;
}


.logo{
margin-left: 5%;
color: #ffffff;
font-size: 25px;
font-weight: bold;
}
.logo_header{
display: flex;
margin-left: 2%;
}

.main_nav{
display: flex;
width: 29%;
float: right;
margin-right: 2%;
justify-content: space-between;
list-style: none;
}
.main_nav li:hover{
background-color: gray
}

.main_nav li{
display: inline;
color: #ffffff;
}
.main_nav li a{
color: #ffffff;
}

@media only screen and (max-width : 992px){

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #000000;
    font-size: 20px;
}

.main_nav{
    display: none;
}

.show_nav{
    padding-top: 2%;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.main_nav li{
    width: 100%;
    height: 50px;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    padding: 0%;
}
.navbar_toggle {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    color: #ffffff;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    display: block;
}
.logo_header{
    width: 100%;
    justify-content: space-between;
    margin-right: 2%;
}

}

.l-content {
    .content-top {
        display: flex;
        flex-direction: column;
        align-items: center;

        .content-block {
            display: flex;
            flex-direction: column;
            align-items: center;
        
            img {
                width: 400px;
                height: 400px;
                border: 9px solid $color-white;
                @include border-radius(50%)
            }

            .top-span {
                font-weight: 100;
                @include text-shadow(1px, 1px, 2px, white);
                font-size: rem(50px);
            }

            span {
                text-align: center;
                font-size: rem(45px);
                @include text-shadow(2px, 2px, 3px)
            }
        }

        .flex-cont {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 100px;
            width: 100vw;

            .flex-left {
                display: flex;
                flex-direction: column;
                padding-top: 60px;
                z-index: 1;
                width: 300px;
                height: 240px;
                margin: 20px;
                background: $color-white;
                text-align: center;
                @include box-shadow(4px, 4px, 6px);

                h4 {
                    font-size: rem(20px);
                    margin: 0;
                    margin-top: 5px;
                }

                p {
                    margin: 0;
                    margin-top: 10px;
                }
            }

            .flex-middle {
                display: flex;
                flex-direction: column;
                padding-top: 60px;
                z-index: 1;
                width: 300px;
                height: 240px;
                margin: 20px;
                background: $color-white;
                text-align: center;
                @include box-shadow(4px, 4px, 6px);

                h4 {
                    font-size: rem(20px);
                    margin: 0;
                    margin-top: 5px;
                }

                p {
                    margin: 0;
                    margin-top: 10px;
                }
            }

            .flex-right {
                display: flex;
                flex-direction: column;
                padding-top: 60px;
                z-index: 1;
                width: 300px;
                height: 240px;
                margin: 20px;
                background: $color-white;
                text-align: center;
                @include box-shadow(4px, 4px, 6px);

                h4 {
                    font-size: rem(20px);
                    margin: 0;
                    margin-top: 5px;
                }

                p {
                    margin: 0;
                    margin-top: 10px;
                }
            }
        }
    }
    
    .svg-header {
        fill: $color-yellow;
        width: 50px;
        height: 50px;
    }

    .content-middle {
        display: flex;
        flex-direction: column;
        align-items: center;

        .cont-img {
            position: relative;
            bottom: 50px;
            width: 100vw;
            height: 600px;
        }

        .content-text {
            width: 65vw;
            p { 
                text-align: center;
                margin: 0;
            }
        }

        .middle-part {
            display: flex;
            flex-direction: column;

            span {
                width: 100vw;
                text-align: center;
                font-size: rem(50px);
                font-weight: 300;
                margin-top: 50px;
            }

            .part-box {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;

                img {
                    margin: 0px 100px;
                    margin-top: 40px;
                    filter: brightness(0.2);
                    width: 160px;
                    height: 90px;
                }
            }
        }
    }

    .bottom-info {
        height: 800px;
        background: $color-bg;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .img3 {
            width: 400px;
            height: 400px;
            @include border-radius(50%);
            border: 9px solid $color-white;
        }

        p {
            color: $color-white;
            @include text-shadow(1px, 1px, 2px);
            font-size: rem(20px);
            width: 55%;
            text-align: center;
        }
    }

    .bottom-photos {
        display: flex;
        flex-direction: column;
        align-items: center;

        .photo-row-1 {
            display: flex;

            img {
                padding-top: 0;
            }
        }

        .photo-row-2 {
            display: flex;
        }

        img {
            padding: 10px;
            width: 460px;
            height: 380px;
        }
    }

    .link {
        margin-top: 50px;
        width: 460px;
        height: 50px;
        background: $color-yellow;
        @include border-radius(4px);
        @include box-shadow(2px, 2px, 5px);

        a {
            display: flex;
            color: $color-black;
            text-decoration: none;
            margin: 0 70px;
            font-size: rem(30px);

            &:hover {
                opacity: .6;
            }
        }
    }

    .bottom-developer {
        width: 100vw;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        

        .quotes {
            img {
                width: 200px;
                height: 200px;
                position: relative;
                left: 40px;
            }
        }
        
        .dev {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                font-weight: 300;
                font-size: rem(25px);
                filter: brightness(0.75);
                color: $color-yellow;
            }

            p {
                opacity: 0.6;
            }
        }
    }
}

.l-footer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 200px;
    .f-top {
        width: 100vw;
        height: 700px;
        background: $color-bg;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .box-info {
            width: 500px;
            height: 500px;
            display: flex;
            flex-direction: column;
            padding-left: 100px;
            padding-top: 200px;

            span {
                font-size: rem(50px);
                margin-bottom: 10px;
            }

            p {
                margin: 0;
                margin: 6px;
            }

            a {
                text-decoration: none;
                color: $color-a;
                font-size: rem(18px);

                &.underl{
                    border-bottom: 2px solid $color-a;

                    &:hover {
                        border: none;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .info-icons {
                display: flex;
                align-items: flex-end;
                margin-top: 100px;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        #map {
            width: 550px;
            height: 550px;
        }
    }

    .f-bottom {
        width: 100vw;
        height: 100px;
        background: $color-f-b;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-size: rem(14px);
            color: $color-white;
        }

        a {
            color: $color-a;
        }
    }
}






@media only screen and (max-width: 600px){
    .l-content {
        display: flex;
        flex-direction: column;

        .content-top {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .content-block {
                position: relative;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            
                img {
                    width: 300px;
                    height: 300px;
                    border: 9px solid $color-white;
                    @include border-radius(50%)
                }
    
                .top-span {
                    font-weight: 100;
                    @include text-shadow(1px, 1px, 2px, white);
                    font-size: rem(45px);
                }
    
                span {
                    text-align: center;
                    font-size: rem(35px);
                    @include text-shadow(2px, 2px, 3px)
                }
            }
    
            .flex-cont {
                position: relative;
                display: flex;
                justify-content: center;
                margin-top: 100px;
                width: 100vw;
    
                .flex-left {
                    display: flex;
                    flex-direction: column;
                    padding-top: 60px;
                    z-index: 1;
                    width: 300px;
                    height: 240px;
                    margin: 20px;
                    background: $color-white;
                    text-align: center;
                    @include box-shadow(4px, 4px, 6px);
    
                    h4 {
                        font-size: rem(20px);
                        margin: 0;
                        margin-top: 5px;
                    }
    
                    p {
                        margin: 0;
                        margin-top: 10px;
                    }
                }
    
                .flex-middle {
                    display: flex;
                    flex-direction: column;
                    padding-top: 60px;
                    z-index: 1;
                    width: 300px;
                    height: 240px;
                    margin: 20px;
                    background: $color-white;
                    text-align: center;
                    @include box-shadow(4px, 4px, 6px);
    
                    h4 {
                        font-size: rem(20px);
                        margin: 0;
                        margin-top: 5px;
                    }
    
                    p {
                        margin: 0;
                        margin-top: 10px;
                    }
                }
    
                .flex-right {
                    display: flex;
                    flex-direction: column;
                    padding-top: 60px;
                    z-index: 1;
                    width: 300px;
                    height: 240px;
                    margin: 20px;
                    background: $color-white;
                    text-align: center;
                    @include box-shadow(4px, 4px, 6px);
    
                    h4 {
                        font-size: rem(20px);
                        margin: 0;
                        margin-top: 5px;
                    }
    
                    p {
                        margin: 0;
                        margin-top: 10px;
                    }
                }
            }
        }
        
        .svg-header {
            fill: $color-yellow;
            width: 50px;
            height: 50px;
        }
    
        .content-middle {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .cont-img {
                position: relative;
                bottom: 50px;
                width: 375px;
                height: 400px;
            }
    
            .content-text {
                width: 65vw;
                p { 
                    text-align: center;
                    margin: 0;
                }
            }
    
            .middle-part {
                display: flex;
                flex-direction: column;
    
                span {
                    width: 100vw;
                    text-align: center;
                    font-size: rem(50px);
                    font-weight: 300;
                    margin-top: 50px;
                }
    
                .part-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 30px;
    
                    img {
                        margin: 0px 100px;
                        margin-top: 40px;
                        filter: brightness(0.2);
                        width: 160px;
                        height: 90px;
                    }
                }
            }
        }
    
        .bottom-info {
            height: 800px;
            background: $color-bg;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .img3 {
                width: 300px;
                height: 300px;
                @include border-radius(50%);
                border: 9px solid $color-white;
            }
    
            p {
                color: $color-white;
                @include text-shadow(1px, 1px, 2px);
                font-size: rem(20px);
                width: 55%;
                text-align: center;
            }
        }
    
        .bottom-photos {
            display: flex;
            flex-direction: row;
            align-items: center;
    
            .photo-row-1 {
                display: flex;
                flex-direction: column;
    
                img {
                    padding-top: 0;
                }
            }
    
            .photo-row-2 {
                display: flex;
                flex-direction: column;

                img {
                    padding-top: 0;
                }
            }
    
            img {
                padding: 10px;
                width: 173px;
                height: 163px;
            }
    
                a {
                    display: flex;
                    color: $color-black;
                    text-decoration: none;
                    margin: 0 70px;
                    font-size: rem(18px);
    
                    &:hover {
                        opacity: .6;
                    }
                }
            }

            .link {
                text-align: center;
                margin-top: 30px;
                margin-left: 90px;
                width: 200px;
                height: 30px;
                background: $color-yellow;
                @include border-radius(4px);
                @include box-shadow(2px, 2px, 5px);
            }
    
        .bottom-developer {
            width: 100vw;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            
    
            .quotes {
                img {
                    width: 100px;
                    height: 100px;
                    position: relative;
                    left: 40px;
                }
            }
            
            .dev {
                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    margin-left: 50px;
                    font-weight: 300;
                    font-size: rem(20px);
                    filter: brightness(0.75);
                    color: $color-yellow;
                }
    
                p {
                    opacity: 0.6;
                }
            }
        }
    }
    
    .l-footer {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        margin-top: 200px;
        .f-top {
            width: 100vw;
            height: 700px;
            background: $color-bg;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
    
            .box-info {
                width: 500px;
                height: 500px;
                display: flex;
                flex-direction: column;
                padding-left: 100px;
                padding-top: 200px;
    
                span {
                    font-size: rem(50px);
                    margin-bottom: 10px;
                }
    
                p {
                    margin: 0;
                    margin: 6px;
                }
    
                a {
                    text-decoration: none;
                    color: $color-a;
                    font-size: rem(18px);
    
                    &.underl{
                        border-bottom: 2px solid $color-a;
    
                        &:hover {
                            border: none;
                        }
                    }
    
                    &:hover {
                        cursor: pointer;
                    }
                }
    
                .info-icons {
                    display: flex;
                    align-items: flex-end;
                    margin-top: 100px;
    
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
    
            #map {
                width: 550px;
                height: 550px;
            }
        }
    
        .f-bottom {
            width: 100vw;
            height: 100px;
            background: $color-f-b;
            display: flex;
            align-items: center;
            justify-content: center;
    
            span {
                font-size: rem(14px);
                color: $color-white;
            }
    
            a {
                color: $color-a;
            }
        }
    }
}